<h1>CENTRO MEDICO BACKEND</h1>
<h2>LISTADO DE MEDICOS</h2>
<table border="1">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Consultorio</th>
            <th>Correo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each medicos}}
        <tr>
            {{!-- <form action="/medicos/actualizar/{{cedulaM}}" method="post">
                <td><input type="text" value="{{cedulaM}}" disabled></td>
                <td><input type="text" id="nombreM" name="nombreM" value="{{nombreM}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input type="text" id="apellidoM" name="apellidoM" value="{{apellidoM}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input type="text" id="especialidad" name="especialidad" value="{{especialidad}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input type="text" id="consultorio" name="consultorio" value="{{consultorio}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input type="text" id="correo" name="correo" value="{{correo}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td>
                    {{#if ../estado}}
                    <a href="/medicos/eliminar/{{cedulaM}}">Eliminar</a> <br><br>
                    <a href="/medicos/enviar/{{@key}}">Actualizar</a>
                    {{else}}
                    <input type="submit" value="Enviar">
                    {{/if}}
                </td>
            </form> --}}
            <td>{{cedulaM}}</td>
            <td>{{nombreM}}</td>
            <td>{{apellidoM}}</td>
            <td>{{especialidad}}</td>
            <td>{{consultorio}}</td>
            <td>{{correo}}</td>
            <td><a href="/medicos/eliminar/{{cedulaM}}">Eliminar</a></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<a class="volver" href="/">Volver</a>
<a href="medicos/agregar-medico">Agregar medico</a>